@model IEnumerable<ProyectoWebFinal.Models.estadisticas_evento>

@{
    ViewBag.Title = "Index";
}

<h2>Estadisticas de Eventos</h2>

<p>
    @Html.ActionLink("Crear Nueva", "Create")
</p>

<table class="table">
    <tr>
        <th>
            Puntuación
        </th>
        <th>
            Fecha de Compra
        </th>
        <th>
            Cliente
        </th>
        <th>
            Evento
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.puntuacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha_compra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cliente.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.evento.nombre)
            </td>
        </tr>
    }
</table>

<p>
    @Html.ActionLink("Crear Nueva", "Create")
    | @Html.ActionLink("Generar Informe", "GenerateReport", new { startDate = DateTime.Now.AddDays(-7), endDate = DateTime.Now })
</p>
